body {
  display: flex;
  font-family: monospace;
  justify-content: center;
  align-items: center;
}

.todo-item {
  font-size: 1.5rem;
  padding: 5px;
  margin-bottom: 5px;
  border: 2px solid rgba(71, 73, 182, 0.5);
  border-radius: 10px;
  background-color: rgba(198, 234, 248, 0.89);
  color: rgb(46, 43, 43);
}

button {
  margin-left: 5px;
}