body {
  font-family: monospace;
}

.card {
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 10px;
  padding: 30px;
  text-align: center;
  max-width: 150px;
  display: inline-block;
}

.card img {
  border-radius: 50%;
}

.card h2 {
  font-family:'Segoe UI', Tahoma;
  font-size: 1.5rem;
}

.card p {
  font-family: 'Segoe UI', Tahoma;
  font-size: 1rem;
}